-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: bts_portfolio
-- ------------------------------------------------------
-- Server version	11.8.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `veille`
--

LOCK TABLES `veille` WRITE;
/*!40000 ALTER TABLE `veille` DISABLE KEYS */;
INSERT INTO `veille` (`id`, `title`, `content`, `url`, `category`, `visible`, `created_at`) VALUES (7,'Agr├®gation de flux RSS pour centraliser sa veille','Les flux RSS permettent de suivre plusieurs sources (blogs tech, sites d\'actualit├®s) depuis un seul endroit. Des outils comme Feedly, Inoreader ou The Old Reader facilitent l\'organisation et la lecture des articles.','https://feedly.com','automatique',1,'2026-02-17 08:26:11');
INSERT INTO `veille` (`id`, `title`, `content`, `url`, `category`, `visible`, `created_at`) VALUES (8,'R├®seaux sociaux et communaut├®s','Twitter/X / Reddit / Tiktok / Instagram pour la veille en temps r├®el\n\nLes hashtags sur Twitter/TikTok/Instagram (#DevOps, #ReactJS, #Dev, #SoftwareEngineer) et les subreddits sp├®cialis├®s (r/programming, r/webdev) offrent des discussions en temps r├®el sur les nouvelles technologies et bonnes pratiques.','','automatique',1,'2026-02-17 08:28:26');
INSERT INTO `veille` (`id`, `title`, `content`, `url`, `category`, `visible`, `created_at`) VALUES (9,'Newsletters et alertes email pour la veille technologique','Les newsletters sp├®cialis├®es comme Dev.to Weekly, JavaScript Weekly, ou GitHub Trending permettent de recevoir r├®guli├¿rement des articles s├®lectionn├®s. Les Google Alerts peuvent surveiller des mots-cl├®s sp├®cifiques et envoyer des notifications par email.','','automatique',1,'2026-02-17 08:31:03');
/*!40000 ALTER TABLE `veille` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-17  9:59:08
