-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: bts_portfolio
-- ------------------------------------------------------
-- Server version	11.8.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
INSERT INTO `projects` (`id`, `title`, `description`, `image`, `github_link`, `competencies`, `category`, `visible`, `created_at`) VALUES (3,'Logiciel Gestion Conseil de classe','Ce logiciel me permet rentrer les infos sur les ├®l├¿ves r├®cup├®rer au conseil de classe puis de les sauvegarder et transf├®rer dans un document texte claire et pr├®cis avec moyenne par mati├¿res, notes g├®n├®ral, et moyenne g├®n├®ral.','','https://github.com/warkozz/conseil_classe','Python, PHP, MYSQL','ecole',1,'2025-11-24 13:57:30');
INSERT INTO `projects` (`id`, `title`, `description`, `image`, `github_link`, `competencies`, `category`, `visible`, `created_at`) VALUES (5,'Application Gestion de projet','Dans le cadre d\'un exercice en cours, j\'ai pu r├®aliser un une application de gestion de projet',NULL,'https://github.com/warkozz?tab=repositories','PHP, React, SQL, MYSQL, Python','pro',1,'2025-11-24 14:05:32');
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-17  9:58:50
